@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Приглашение на чай</title>
</head>
<body>
    <div>Вы приглашены на вечеринку</div>
    <a asp-action="RSVPForm">Перейти</a>
</body>
</html>


