@model IEnumerable<GuestResponse>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Список откликнувшихся</title>
</head>
<body>
    <h2>Список откликнувшихся на вечеринку</h2>
    <table>
        <thead>
        <tr>
            <th>Имя</th>
            <th>Email</th>
            <th>Телефон</th>
        </tr>
        </thead>
        @foreach(GuestResponse r in Model)
        {
            <tr>
                <td>
                    @r.Name
                </td>
                <td>
                    @r.Email
                </td>
                <td>
                    @r.Phone
                </td>
            </tr>
        }
    </table>
</body>
</html>
