@model string
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Первое приложение</title>
</head>
<body>
    <div>
        @Model, мир
    </div>
</body>
</html>
